
  
  :root {
    text-transform: lowercase;
    letter-spacing: -0.5px;
  }
  
  html {
    cursor: url(images/cursor.png), auto !important;
  }
  
  button:hover {
    cursor: url(images/cursor.png), auto !important;
  }
  
  body-alternative-pink {
    --background: url("https://i.pinimg.com/236x/00/56/c8/0056c86c2606ff1b933b07cd63f0d590.jpg");
    --contrastbg: #fffbf9;
    --lightest: #f6d9d9;
    --light: #D6B2B2;
    --shadow: #c48c8c;
    --dark: #845555;
    --darkest: #26120b;
  }
  
  body {
    --background: url("https://i.pinimg.com/236x/c1/c7/57/c1c7570b5c5df48abdadebbf0079aac3.jpg");
    --contrastbg: #EAE1CC;
    --lightest: #EAE1CC;
    --light: #acbcae;
    --mid: #78a185;
    --shadow: #768677;
    --dark: #4a564a;
    --darkest: #191f19;
  }
  
  
  ::selection {
    background-color: var(--shadow);
    color: var(--contrastbg);
  }
  
  
  .subtitle {
    font-weight: bolder;
    border: 1px solid var(--mid);
    border-left: 1px solid var(--dark);
    border-top: 1px solid var(--dark);
    padding: 2px;
    background-color: var(--light);
  }